*{
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;

}
.header{
    min-height: 100vh;
    width: 100%; 
    background-image: url("https://wallpaperaccess.com/full/3843116.jpg") ;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff; 
}
.hero-btn{
   display: inline-block; 
   text-decoration: none;
   color: #fff;
   border: 1px solid #fff;
   padding: 12px 34px;
   font-size: 13px;
   background: transparent;
   position: relative;
   cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.7;
}


.fa-instagram {
  background: #ffffff;
  color: rgb(0, 0, 0);
}


.fa-twitter {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.fa-youtube {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.fa-google {
  background: #ffffff;
  color: rgb(0, 0, 0);
}


/*------------------ about us page --------------*/

.sub-header{
  height: 50vh;
  width: 100%;
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2015/01/30/605449/672629b39035f5aeafe25cac1e0753ae.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.sub-header h1{
  margin-top: 100px;
}

.about-us{
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col{
  flex-basis: 48%;
  padding: 30px 2px;
}
.about-col img{
  width: 50%;
}
.about-col h1{
  padding-top: 0%;
}
.about-col p{
  padding: 15px 0 25px;
}

.red-btn{
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}

.red-btn:hover{
  color: #fff;
}
.main-header{
  height: 50vh;
  width: 100%;
  background-image: url("https://pa1.narvii.com/7184/fe7281f8250f921aa438d3561dda9870239bb233r1-480-270_hq.gif");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.main-header h1{
  margin-top: 100px;

/*-------- goat-content ----------*/

}
.goat-content{
  width: 80%;
  margin: auto;
  padding: 60px 0;
}
.goat-left{
  flex-basis: 65%;
}
.goat-left img{
  width: 50%;
}
.goat-left h2{
  color: #222;
  font-weight: 600;
  margin: 30px 0;
}
.goat-left p{
  color: f999;
  padding: 0%;
}
.goat-right{
  flex-basis: 32%;
}
.goat-right h3{
  background: #f44336;
  color: #fff;
  padding: 7px 0;
  font-size: 16px;
  margin-bottom: 20px;

}
.goat-right div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  padding: 8px;
  box-sizing: border-box;
}



